@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/roboto/Roboto-Light.ttf);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #f5e5d2;
  cursor: pointer;
}

a:hover {
  color: #ffffff;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  background: #f5e5d2;
  padding: 20px 4px 20px 4px;
  border: 1px solid #1a1818;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-item {
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid #070707b0;
  cursor: pointer;
}

.button--primary {
  background: #070707b0;
  color: #ffffff;
}

.button--primary:hover {
  background: #ffffff;
  color: #070707b0;
}

.button--secondary {
  background: #070707b0;
  color: #ffffff;
}

.button--secondary:hover {
  background: #ffffff;
  color: #070707b0;
}

.header {
  position: relative;
  width: 100%;
  background: #1d1c1aa2;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-logo__item {
  border: 2px solid #f5e5d2;
  font-size: 24px;
}

.header-logo__item:hover {
  color: #070707b0;
  border-color: #070707b0;
}

.header-menu__item {
  margin-right: 30px;
}

.promo {
  padding-top: 100px;
  padding-bottom: 550px;
  margin-top: -100px;
  background: url("../img/promo.jpg") center/cover;
  z-index: 999;
}

.promo-desc {
  margin-left: -30px;
  width: 500px;
  margin-top: 20px;
}

.algorithm {
  margin-top: -190px;
  background: #f5e5d2;
  padding-top: 100px;
}

.algorithm-container {
  border: 2px solid #070707b0;
  margin-top: 0;
}

.algorithm-title {
  padding-bottom: 40px;
}

.algorithm-desc {
  width: 600px;
  text-align: justify;
}

.algorithm-desc-item {
  margin-bottom: 15px;
}

.algorithm-distance {
  margin-top: 30px;
  margin-bottom: 10px;
}

.hardware {
  padding-top: 100px;
  padding-bottom: 40px;
  background: #f5e5d2;
}

.hardware-title {
  margin-bottom: 70px;
}

.hardware-block {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.hardware-block__text {
  margin-top: 50px;
  width: 500px;
  text-align: justify;
}

.hardware-block__img {
  border: 3px solid #070707b0;
}

.li-item {
  margin-top: 10px;
}

.reviews {
  padding-top: 30px;
  padding-bottom: 100px;
  background: #070707b0;
}

.reviews-title {
  padding-top: 60px;
  padding-bottom: 70px;
}

.card {
  height: 300px;
  width: 250px;
  background: #f5e5d2;
  border-radius: 10%;
  border: 2px solid #1a1818;
}

.card-title {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 2px solid #1d1c1aa2;
}

.card-desc {
  font-style: italic;
  font-weight: 400;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.feedback {
  padding-top: 100px;
  padding-bottom: 120px;
  background: #f5e5d2;
}

.feedback-title {
  margin-bottom: 40px;
}

.feedback-button {
  width: 115px;
  display: flex;
  justify-content: center;
}

.feedback-container {
  max-width: 830px;
  margin: auto;
}

.feedback-content {
  width: 400px;
  border: 2px solid #070707b0;
}

.feedback-barell__img {
  margin-top: 8px;
  border: 2px solid #070707b0;
}

.feedback-form {
  background: #fff3e9;
  padding-top: 20px;
  padding-right: 2px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.feedback-form__label {
  margin-bottom: 10px;
}

.feedback-form__date {
  margin-top: 5px;
  height: 25px;
}

.feedback-form__text {
  margin-top: 5px;
  width: 250px;
  height: 25pxx;
}

.stock {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff3e9;
}

.stock-container {
  align-items: flex-start;
}

.stock-title {
  padding-bottom: 70px;
}

.stock-card {
  width: 352px;
  height: 560px;
  background: #e6d4b9;
  border: 1px solid #1a1818;
  border-radius: 5px;
}

.stock-card__title {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
}

.stock-card__text {
  padding-left: 5px;
  padding-bottom: 20px;
}

.stock-card__button {
  margin-left: 112px;
}

.text-clearing {
  margin-bottom: 18px;
}

.text-barrel {
  margin-bottom: 57px;
}

.subscription {
  background: #fff3e9;
  padding-top: 80px;
  padding-bottom: 100px;
}

.subscription-title {
  padding-bottom: 50px;
}

.subscription-container {
  position: relative;
  max-width: 400px;
  margin: auto;
  background: #070707b0;
  border: 1px solid #1a1818;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-form__email {
  margin-top: 20px;
  width: 300px;
  height: 30px;
}

.subscription-form__button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #070707b0;
}

.footer-menu {
  display: flex;
}

.footer-menu__item {
  margin-right: 10px;
}

.footer-text {
  color: #ffffff;
}

.algorithm {
  margin-top: -190px;
  background: #f5e5d2;
  padding-top: 100px;
}

.algorithm-container {
  border: 2px solid #070707b0;
  margin-top: 0;
}

.algorithm-title {
  padding-bottom: 40px;
}

.algorithm-desc {
  width: 600px;
  text-align: justify;
}

.algorithm-desc-item {
  margin-bottom: 15px;
}

.algorithm-distance {
  margin-top: 30px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */