*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: 'Roboto Light', sans-serif
    font-weight: 600
    font-size: 16px
h1,h2,h3
    margin: 0
a
    text-decoration: none
    color: #130e09
    cursor: pointer
    &:hover
        color: #f1dfca
.container
    max-width: 1100px
    width: 100%
    margin: auto
.block
    display: flex
    justify-content: space-between
    align-items: center
