.algorithm
    margin-top: -190px
    background: $beige
    padding-top: 20px
    &-title
        display: flex
        align-items: center
        justify-content: center
        padding-bottom: 20px