.algorithm
    margin-top: -190px
    background: $beige
    padding-top: 100px
    &-container
        border: 2px solid $dark
        margin-top: 0
    &-title
        padding-bottom: 20px
    &-desc
        width: 600px
        text-align: justify 
        &-item
            margin-bottom: 15px
    &-distance
        margin-top: 30px
        margin-bottom: 10px
