.feedback
    padding-top: 100px
    padding-bottom: 100px
    background: url(../img/bc-rm.jpg) no-repeat center/cover
    &-container
        max-width: 500px
        margin: auto
    &-form
        margin-top: 70px
        display: flex
        flex-direction: column