.header
    position: relative
    width: 100%
    background: #18171786
    &-logo
        display: flex
        align-items: center
        height: 50px
        &__item
            border: 2px solid #130f0b94
            font-size: 24px
            cursor: pointer
            &:hover
                color: #f1dfca
                border-color: #f1dfca
    &-menu
        &__item
            margin-right: 30px