.header
    position: relative
    width: 100%
    background: #18171786
    &-logo
        cursor: pointer
        &__img
            width: 150px
            height: 100px
    &-menu
        &__item
            margin-right: 30px